# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/tfplan
**/.build/
**/crash.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local secrets
*.tfvars.local
.env
